@model List<FuncionarioModel>
@{
    ViewData["Title"] = "Listagem de funcionarios";
}
<div class="text-center">
    <div class="d-grid  gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Funcionario" asp-action="Cadastrar">Novo Funcionário</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">x</button>
              @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de funcionários</h1>

    <table class="table" id="table-funcionario">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">Função</th>
                <th scope="col">Telefone</th>
                <th scope="col">Descrição</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (FuncionarioModel funcionario in Model)
                {
                    <tr>
                        <th scope="row">@funcionario.Id</th>
                        <td>@funcionario.Nome</td>
                        <td>@funcionario.RG</td>
                        <td>@funcionario.Telefone</td>
                        <td>@funcionario.Descricao</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@funcionario.Id" asp-controller="Funcionario" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@funcionario.Id" asp-controller="Funcionario" asp-action="Apagar">Deletar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum funcionário encontrado</td></tr>
            }
        </tbody>
    </table>

</div>
