@model AcessoModel

@{
    ViewData["Title"] = "Cadastrar acesso";
}

<div class="text-center">
   
    <h1 class="display-4">Cadastrar Acesso</h1>

</div>

<form asp-controller="Acesso" asp-action="Cadastrar" method="post">

    <div class="Form-Container">
        <label for="veiculo">Veículo</label>
        <input type="text" asp-for="Veiculo" class="form-control">
        @Html.ValidationMessageFor(x => x.Veiculo)


        <label for="condutoe">Condutor</label>
        <input type="text" asp-for="Condutor" class="form-control">
        @Html.ValidationMessageFor(x => x.Condutor)


        <label for="doc">Documento</label>
        <input type="text" asp-for="Documento" class="form-control">
        @Html.ValidationMessageFor(x => x.Documento)


        <label for="Entrada">Entrada</label>
        <input type="text" asp-for="Entrada" class="form-control">
        @Html.ValidationMessageFor(x => x.Entrada)


        <label for="Saida">Saída</label>
        <input type="text" asp-for="Saida" class="form-control">
        @Html.ValidationMessageFor(x => x.Saida)

        <label for="Destino">Destino</label>
        <input type="text" asp-for="Destino" class="form-control">
        @Html.ValidationMessageFor(x => x.Destino)

    </div>

    <br />
   
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Funcionario" asp-action="Index" role="button">Voltar</a>
</form>