@model AcessoModel

@{
    ViewData["Title"] = "Cadastrar acesso";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar Acesso</h1>

</div>

<form asp-controller="Acesso" asp-action="Cadastrar" method="post">

    <div class="Form-Container">

        <label for="veiculo">Veículo</label>
        <input type="text" asp-for="Veiculo" class="form-control">
        @Html.ValidationMessageFor(x => x.Veiculo)


        <label for="condutoe">Condutor</label>
        <input type="text" asp-for="Condutor" class="form-control">
        @Html.ValidationMessageFor(x => x.Condutor)


        <label for="doc">Documento</label>
        <input type="text" asp-for="Documento" class="form-control">
        @Html.ValidationMessageFor(x => x.Documento)


        <label for="Entrada">Entrada</label>
        <input type="text" asp-for="Entrada" class="form-control">
        @Html.ValidationMessageFor(x => x.Entrada)


        <label for="Saida">Saída</label>
        <input type="text" asp-for="Saida" class="form-control">
        @Html.ValidationMessageFor(x => x.Saida)

        <label for="Destino">Destino</label>
        <select asp-for="Destino" class="form-control">
            <option>Selecione</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
            <option>24</option>
            <option>25</option>
            <option>26</option>
            <option>27</option>
            <option>28</option>
            <option>29</option>
            <option>30</option>
            <option>31</option>
            <option>32</option>
            <option>33</option>
            <option>34</option>
            <option>35</option>
            <option>36</option>
            <option>37</option>
            <option>38</option>
            <option>39</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>

        </select>
        @*<input type="text" asp-for="Destino" class="form-control">*@
        @Html.ValidationMessageFor(x => x.Destino)

    </div>

    <br />

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Acesso" asp-action="Index" role="button">Voltar</a>
</form>