@model List<AcessoModel>
@{
    ViewData["Title"] = "Listagem dos Acessos";
}
<div class="text-center">
    <div class="d-grid  gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Acesso" asp-action="Cadastrar"> <i class="fa fa-plus-circle"></i> Novo Acesso</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">x</button>
              @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Acessos</h1>

    <table class="table" id="table-acessos">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Veículo</th>
                <th scope="col">Condutor</th>
                <th scope="col">Documento</th>
                <th scope="col">Entrada</th>
                <th scope="col">Saída</th>
                <th scope="col">Destino</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (AcessoModel acesso in Model)
                {
            <tr>
                <th scope="row">@acesso.Id</th>
                <td>@acesso.Veiculo</td>
                <td>@acesso.Condutor</td>
                <td>@acesso.Documento</td>
                <td>@acesso.Entrada</td>
                <td>@acesso.Saida</td>
                <td>@acesso.Destino</td>

                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-route-id="@acesso.Id" asp-controller="Acesso" asp-action="Editar"><i class="fa fa-edit"></i></a>
                        <a role="button" class="btn btn-danger" asp-route-id="@acesso.Id" asp-controller="Acesso" asp-action="Apagar"><i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhum acesso encontrado</td></tr>
            }
        </tbody>
    </table>

</div>
