@model MoradorModel

@{
    ViewData["Title"] = "Cadastrar morador";
}

<div class="text-center">
   
    <h1 class="display-4">Cadastrar morador</h1>

</div>

<form asp-controller="Morador" asp-action="Cadastrar" method="post">

    <div class="Form-Container">
        <label for="nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do morador">
        @Html.ValidationMessageFor(x => x.Nome)
    
    
        <label for="Rg">RG</label>
        <input type="text" asp-for="RG" class="form-control" placeholder="Digite o RG do morador">
        @Html.ValidationMessageFor(x => x.RG)
    
    
        <label for="cpf">CPF</label>
        <input type="text" asp-for="CPF" class="form-control" placeholder="Digite o CPF do morador">
        @Html.ValidationMessageFor(x => x.CPF)
    
    
        <label for="telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="Digite o telefone do morador">
        @Html.ValidationMessageFor(x => x.Telefone)
    
    
        <label for="email">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Digite o e-mail do morador">
        @Html.ValidationMessageFor(x=>x.Email)
   
    
        <label for="apartamento">Apartamento</label>
        <input type="text" asp-for="Apartamento" class="form-control" placeholder="Digite o apartamento do morador">
        @Html.ValidationMessageFor(x=>x.Apartamento)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a class="btn btn-secondary" asp-controller="Morador" asp-action="Index" role="button">Voltar</a>
</form>