@model List<MoradorModel>
@{
    ViewData["Title"] = "Listagem de moradores";
}
<div class="text-center">
    <div class="d-grid  gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Morador" asp-action="Cadastrar"> <i class="fa fa-plus-circle"></i> Novo Morador</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
             <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">x</button>
              @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Moradores</h1>

    <table class="table" id="table-moradores">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">RG</th>
                <th scope="col">CPF</th>
                <th scope="col">Telefone</th>
                <th scope="col">Email</th>
                <th scope="col">Apartamento</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (MoradorModel morador in Model)
                {
                    <tr>
                        <th scope="row">@morador.Id</th>
                        <td>@morador.Nome</td>
                        <td>@morador.RG</td>
                        <td>@morador.CPF</td>
                        <td>@morador.Telefone</td>
                        <td>@morador.Email</td>
                        <td>@morador.Apartamento</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@morador.Id" asp-controller="Morador" asp-action="Editar"><i class="fa fa-edit"></i></a>
                                <a role="button" class="btn btn-danger" asp-route-id="@morador.Id" asp-controller="Morador" asp-action="Apagar"><i class="fa fa-trash"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
