@model List<VeiculoModel>
@{
    ViewData["Title"] = "Listagem de Veículos";
}
<div class="text-center">
    <div class="d-grid  gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Veiculo" asp-action="Cadastrar"> <i class="fa fa-plus-circle"></i>Novo Veículo</a>
    </div>
    <br />
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert" >
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">x</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Fechar ">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de Veículos</h1>

    <table class="table" id="table-veiculos">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Placa</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Cor</th>
                <th scope="col">Tipo</th>
                <th scope="col"> </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (VeiculoModel veiculo in Model)
                {
            <tr>
                <th scope="row">@veiculo.Id</th>
                <td>@veiculo.Placa</td>
                <td>@veiculo.Marca</td>
                <td>@veiculo.Modelo</td>
                <td>@veiculo.Cor</td>
                <td>@veiculo.Tipo</td>
                <td>
                    <div class="btn-group" role="group">
                        <a role="button" class="btn btn-primary" asp-route-id="@veiculo.Id" asp-controller="Veiculo" asp-action="Editar"><i class="fa fa-edit"></i></a>
                        <a role="button" class="btn btn-danger" asp-route-id="@veiculo.Id" asp-controller="Veiculo" asp-action="Apagar"> <i class="fa fa-trash"></i></a>
                    </div>
                </td>
            </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5"> Nenhum veículo encontrado</td></tr>
            }
        </tbody>
    </table>

</div>
